src/main/mule/telegram-system-api-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="telegram-system-api-main">
        <http:listener config-ref="telegram-system-api-httpsListenerConfig" path="${listener.basePath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="logInfoSubFlow" doc:id="e87d8f74-6857-4ef5-9b53-ba0995aecdb1" name="logInfoSubFlow" />
		<flow-ref doc:name="initialSubFlow" doc:id="6cac46e3-0ffa-40a6-bf7d-bdeb4a6b7f40" name="initialSubFlow" />
		<apikit:router config-ref="telegram-system-api-config" />
		<flow-ref doc:name="logInfoSubFlow" doc:id="8eb58659-9ecb-412d-9b19-6b611fb185fb" name="logInfoSubFlow" />
		<error-handler ref="globalErrorHandler"/>
    </flow>
    <flow name="telegram-system-api-console">
        <http:listener config-ref="telegram-system-api-httpsListenerConfig" path="${listener.console}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="telegram-system-api-config" />
        <error-handler ref="globalErrorHandler"/>
    </flow>
    <flow name="post:\sendMessage:application\json:telegram-system-api-config">
		<ee:transform doc:name="setFlowNameVar" doc:id="76fdf689-841a-45dc-9a07-a04eb1598709" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/flowNameVar.dwl" variableName="flowName" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sendMessageSubFlow" doc:id="5c401a0d-68bc-4fb2-add5-13575515a011" name="sendMessageSubFlow"/>
    </flow>
    <flow name="post:\webhook:application\json:telegram-system-api-config">
		<ee:transform doc:name="setFlowNameVar" doc:id="2be4b504-1f12-4ece-a3b7-5473bb303ab9" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/flowNameVar.dwl" variableName="flowName" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="webhookSubFlow" doc:id="cb01c7fa-ceef-45ca-b47a-cad8dbf17198" name="webhookSubFlow"/>
    </flow>
</mule>
